/* Intro Container */
#intro-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
  z-index: 9999;
  will-change: contents;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.netflix-intro {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  animation-name: zoom-in;
  animation-delay: 0.5s;
  animation-duration: 3.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.netflix-intro::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #000000;
  width: 150%;
  height: 30%;
  left: -25%;
  bottom: -27%;
  border-radius: 50%;
  z-index: 5;
  transform-origin: left center;
}

/* T Letter */
.netflix-intro[data-letter="T"] {
  transform-origin: center center;
}

.netflix-intro[data-letter="T"] .helper-1 {
  width: 19.5%;
  height: 100%;
  background-color: rgba(0, 119, 255, 0.5);
  left: 38%;
  top: 0;
  transform: rotate(180deg);
  animation-name: fading-lumieres-box;
  animation-duration: 2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.netflix-intro[data-letter="T"] .helper-1 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.netflix-intro[data-letter="T"] .helper-1 .effect-brush [class*="fur-"] {
  bottom: 0;
  height: 40%;
}

.netflix-intro[data-letter="T"] .helper-2 {
  width: 17.5%;
  height: 54%;
  left: 39%;
  top: -55px;
  transform: rotate(270deg);
  overflow: hidden;
}

.netflix-intro[data-letter="T"] .helper-2 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

/* E Letter */
.netflix-intro[data-letter="E"] {
  transform-origin: 30% center;
}

.netflix-intro[data-letter="E"] .helper-1 {
  width: 19.5%;
  height: 100%;
  background-color: rgba(0, 119, 255, 0.5);
  left: 22%;
  top: 0;
  transform: rotate(180deg);
  animation-name: fading-lumieres-box;
  animation-duration: 2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.netflix-intro[data-letter="E"] .helper-1 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
}

.netflix-intro[data-letter="E"] .helper-1 .effect-brush [class*="fur-"] {
  bottom: 0;
  height: 40%;
}

.netflix-intro[data-letter="E"] .helper-2 {
  width: 17.5%;
  height: 50%;
  left: 38%;
  top: -49px;
  transform: rotate(270deg);
  overflow: hidden;
}

.netflix-intro[data-letter="E"] .helper-2 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

.netflix-intro[data-letter="E"] .helper-3 {
  width: 17%;
  height: 39%;
  left: 33%;
  top: 29%;
  transform: rotate(-90deg);
  box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  animation-name: fading-out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.netflix-intro[data-letter="E"] .helper-3 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}

.netflix-intro[data-letter="E"] .helper-4 {
  width: 17.5%;
  height: 50%;
  left: 38%;
  top: 196px;
  transform: rotate(270deg);
  overflow: hidden;
}

.netflix-intro[data-letter="E"] .helper-4 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

/* M Letter */
.netflix-intro[data-letter="M"] {
  transform-origin: center center;
}

.netflix-intro[data-letter="M"] .helper-1 {
  width: 19.5%;
  height: 100%;
  background-color: rgba(0, 119, 255, 0.5);
  left: 22%;
  top: 0;
  transform: rotate(180deg);
  animation-name: fading-lumieres-box;
  animation-duration: 2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.netflix-intro[data-letter="M"] .helper-1 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
}

.netflix-intro[data-letter="M"] .helper-1 .effect-brush [class*="fur-"] {
  bottom: 0;
  height: 40%;
}

.netflix-intro[data-letter="M"] .helper-2 {
  width: 19%;
  height: 150%;
  left: 30%;
  top: -25%;
  transform: rotate(19.5deg);
  overflow: hidden;
}

.netflix-intro[data-letter="M"] .helper-2 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

.netflix-intro[data-letter="M"] .helper-3 {
  width: 19%;
  height: 150%;
  left: 50.5%;
  top: -25%;
  transform: rotate(-19.5deg);
  box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.netflix-intro[data-letter="M"] .helper-3 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}

.netflix-intro[data-letter="M"] .helper-4 {
  width: 19.5%;
  height: 100%;
  left: 58%;
  top: 0;
  transform: rotate(180deg);
  overflow: hidden;
}

.netflix-intro[data-letter="M"] .helper-4 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

/* S Letter */
.netflix-intro[data-letter="S"] {
  transform-origin: center center;
}

.netflix-intro[data-letter="S"] .helper-1 {
  width: 19.5%;
  height: 60%;
  background-color: rgba(0, 119, 255, 0.5);
  left: 38%;
  top: 0;
  transform: rotate(180deg);
  animation-name: fading-lumieres-box;
  animation-duration: 2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.netflix-intro[data-letter="S"] .helper-1 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.netflix-intro[data-letter="S"] .helper-1 .effect-brush [class*="fur-"] {
  bottom: 0;
  height: 40%;
}

.netflix-intro[data-letter="S"] .helper-2 {
  width: 19.5%;
  height: 60%;
  left: 38%;
  top: 120px;
  transform: rotate(180deg);
  overflow: hidden;
}

.netflix-intro[data-letter="S"] .helper-2 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

/* Common Helper Styles */
.netflix-intro [class*="helper-"] {
  position: absolute;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.netflix-intro [class*="helper-"] .effect-brush {
  position: absolute;
  width: 100%;
  height: 300%;
  top: 0;
  overflow: hidden;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.netflix-intro [class*="helper-"] .effect-brush::before {
  display: block;
  content: "";
  position: absolute;
  background-color: #0077ff;
  width: 100%;
  height: 70%;
  box-shadow: 0px 0px 29px 24px #0077ff;
  will-change: transform;
  transform: translateZ(0);
}

.netflix-intro [class*="helper-"] .effect-brush [class*="fur-"] {
  display: block;
  position: absolute;
  bottom: 10%;
  height: 30%;
  will-change: transform;
  transform: translateZ(0);
}

/* Fur gradients */
.fur-1 { left: 0%; width: 3.8%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 15%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0) 100%); }
.fur-2 { left: 3.8%; width: 2.8%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 10%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0) 100%); }
.fur-3 { left: 6.6%; width: 4.8%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 37%, rgba(0, 0, 0, 0) 100%); }
.fur-4 { left: 11.4%; width: 4%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 23%, rgba(0, 0, 0, 0) 100%); }
.fur-5 { left: 15.4%; width: 4%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 15%, rgba(0, 0, 0, 0) 86%, rgba(0, 0, 0, 0) 100%); }
.fur-6 { left: 19.4%; width: 2.5%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 27%, rgba(0, 0, 0, 0) 89%, rgba(0, 0, 0, 0) 100%); }
.fur-7 { left: 21.9%; width: 4%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 20%, rgba(0, 0, 0, 0) 100%); }
.fur-8 { left: 25.9%; width: 2%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 30%, rgba(0, 0, 0, 0) 100%); }
.fur-9 { left: 27.9%; width: 4%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 35%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%); }
.fur-10 { left: 31.9%; width: 3.5%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 39%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%); }
.fur-11 { left: 35.4%; width: 2%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 34%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%); }
.fur-12 { left: 37.4%; width: 2.6%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 22%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%); }
.fur-13 { left: 40%; width: 6%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 47%, rgba(0, 0, 0, 0) 100%); }
.fur-14 { left: 46%; width: 2%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 36%, rgba(0, 0, 0, 0) 100%); }
.fur-15 { left: 48%; width: 5.5%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 29%, rgba(0, 0, 0, 0) 100%); }
.fur-16 { left: 53.5%; width: 3%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 39%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%); }
.fur-17 { left: 56.5%; width: 4.1%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 45%, rgba(0, 0, 0, 0) 100%); }
.fur-18 { left: 60.6%; width: 2.4%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 34%, rgba(0, 0, 0, 0) 100%); }
.fur-19 { left: 63%; width: 4%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 47%, rgba(0, 0, 0, 0) 100%); }
.fur-20 { left: 67%; width: 1.5%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 27%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%); }
.fur-21 { left: 68.5%; width: 2.8%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 37%, rgba(0, 0, 0, 0) 100%); }
.fur-22 { left: 71.3%; width: 2.3%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 9%, rgba(0, 0, 0, 0) 100%); }
.fur-23 { left: 73.6%; width: 2.2%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 28%, rgba(0, 0, 0, 0) 92%, rgba(0, 0, 0, 0) 100%); }
.fur-24 { left: 75.8%; width: 1%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 37%, rgba(0, 0, 0, 0) 100%); }
.fur-25 { left: 76.8%; width: 2.1%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 28%, rgba(0, 0, 0, 0) 100%); }
.fur-26 { left: 78.9%; width: 4.1%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 34%, rgba(0, 0, 0, 0) 100%); }
.fur-27 { left: 83%; width: 2.5%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 21%, rgba(0, 0, 0, 0) 100%); }
.fur-28 { left: 85.5%; width: 4.5%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 39%, rgba(0, 0, 0, 0) 100%); }
.fur-29 { left: 90%; width: 2.8%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 30%, rgba(0, 0, 0, 0) 100%); }
.fur-30 { left: 92.8%; width: 3.5%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 19%, rgba(0, 0, 0, 0) 100%); }
.fur-31 { left: 96.3%; width: 3.7%; background: linear-gradient(to bottom, #0077ff 0%, #0077ff 37%, rgba(0, 0, 0, 0) 100%); }

/* Lumieres effect */
.netflix-intro [class*="helper-"] .effect-lumieres {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation-name: showing-lumieres;
  animation-duration: 2s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
  will-change: opacity;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.netflix-intro [class*="helper-"] .effect-lumieres [class*="lamp-"] {
  position: absolute;
  display: block;
  height: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 119, 255, 0.75);
  background: var(--color);
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.netflix-intro [class*="helper-"] .effect-lumieres [class*="lamp-"]::before {
  position: absolute;
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: var(--color);
  box-shadow: 0px 0px 10px 0px rgba(0, 119, 255, 0.75);
  will-change: transform;
  transform: translateZ(0);
}

/* Lamp styles */
.lamp-1 { --color: #0088ff; z-index: 6; left: 0.7%; width: 1%; animation-delay: 0.96s; }
.lamp-1::before { left: 96%; animation-delay: 0.22s; }
.lamp-2 { --color: #00ddff; left: 2.2%; width: 1.4%; animation-delay: 0.62s; }
.lamp-2::before { left: 35%; animation-delay: 0.64s; }
.lamp-3 { --color: #0066ff; left: 5.8%; width: 2.1%; animation-delay: 0.32s; }
.lamp-3::before { left: 50%; animation-delay: 0.17s; }
.lamp-4 { --color: #04a8fd; left: 10.1%; width: 2%; animation-delay: 0.23s; }
.lamp-4::before { left: 180%; animation-delay: 0.43s; }
.lamp-5 { --color: #0088ff; left: 12.9%; width: 1.4%; animation-delay: 1.14s; }
.lamp-5::before { left: 49%; animation-delay: 0.15s; }
.lamp-6 { --color: #0099ff; left: 15.3%; width: 2.8%; animation-delay: 1.62s; }
.lamp-6::before { left: 42%; animation-delay: 1.8s; }
.lamp-7 { --color: #0084ff; left: 21.2%; width: 2.5%; animation-delay: 0.51s; }
.lamp-7::before { left: 21%; animation-delay: 0.65s; }
.lamp-8 { --color: #0077ff; left: 25%; width: 2.5%; animation-delay: 1.16s; }
.lamp-8::before { left: 102%; animation-delay: 0.37s; }
.lamp-9 { --color: #00aaff; left: 30.5%; width: 3%; animation-delay: 0.93s; }
.lamp-9::before { left: 118%; animation-delay: 0.06s; }
.lamp-10 { --color: #0088ff; left: 36.3%; width: 3%; animation-delay: 1s; }
.lamp-10::before { left: 47%; animation-delay: 0.14s; }
.lamp-11 { --color: #0077ff; left: 41%; width: 2.2%; animation-delay: 0.63s; }
.lamp-11::before { left: 114%; animation-delay: 1.3s; }
.lamp-12 { --color: #01ccff; left: 44.2%; width: 2.6%; animation-delay: 0.46s; }
.lamp-12::before { left: 71%; animation-delay: 0.05s; }
.lamp-13 { --color: #00aaff; left: 51.7%; width: 0.5%; animation-delay: 1.25s; }
.lamp-13::before { left: 3%; animation-delay: 0.4s; }
.lamp-14 { --color: #00aaff; left: 52.1%; width: 1.8%; animation-delay: 1.34s; }
.lamp-14::before { left: 28%; animation-delay: 1.61s; }
.lamp-15 { --color: #0078fe; left: 53.8%; width: 2.3%; animation-delay: 1.38s; }
.lamp-15::before { left: 54%; animation-delay: 0.73s; }
.lamp-16 { --color: #0080ff; left: 57.2%; width: 2%; animation-delay: 1.6s; }
.lamp-16::before { left: 42%; animation-delay: 0.67s; }
.lamp-17 { --color: #0099ff; left: 62.3%; width: 2.9%; animation-delay: 1.63s; }
.lamp-17::before { left: 126%; animation-delay: 1.76s; }
.lamp-18 { --color: #0066ff; left: 65.8%; width: 1.7%; animation-delay: 1.72s; }
.lamp-18::before { left: 56%; animation-delay: 0.59s; }
.lamp-19 { --color: #0055ff; left: 72.8%; width: 0.8%; animation-delay: 0.21s; }
.lamp-19::before { left: 97%; animation-delay: 1.27s; }
.lamp-20 { --color: #0088ff; left: 74.3%; width: 2%; animation-delay: 1.34s; }
.lamp-20::before { left: 18%; animation-delay: 0.4s; }
.lamp-21 { --color: #0066ff; left: 79.8%; width: 2%; animation-delay: 2s; }
.lamp-21::before { left: 103%; animation-delay: 0.79s; }
.lamp-22 { --color: #04a8fd; left: 78.2%; width: 2%; animation-delay: 1.84s; }
.lamp-22::before { left: 152%; animation-delay: 1.11s; }
.lamp-23 { --color: #01ccff; left: 78.5%; width: 2%; animation-delay: 1.88s; }
.lamp-23::before { left: 166%; animation-delay: 0.17s; }
.lamp-24 { --color: #0055ff; left: 85.3%; width: 1.1%; animation-delay: 1.51s; }
.lamp-24::before { left: 129%; animation-delay: 1.49s; }
.lamp-25 { --color: #0077ff; left: 86.9%; width: 1.1%; animation-delay: 1.77s; }
.lamp-25::before { left: 138%; animation-delay: 1.31s; }
.lamp-26 { --color: #0078fe; left: 88.8%; width: 2%; animation-delay: 1s; }
.lamp-26::before { left: 51%; animation-delay: 1.69s; }
.lamp-27 { --color: #0088ff; left: 92.4%; width: 2.4%; animation-delay: 1.73s; }
.lamp-27::before { left: 139%; animation-delay: 0.57s; }
.lamp-28 { --color: #06a8fd; left: 96.2%; width: 2.1%; animation-delay: 1.09s; }
.lamp-28::before { left: 149%; animation-delay: 0.69s; }

.lamp-1, .lamp-3, .lamp-5, .lamp-7, .lamp-9, .lamp-11, .lamp-13, .lamp-15 {
  animation-name: lumieres-moving-left;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.lamp-1::before, .lamp-3::before, .lamp-5::before, .lamp-7::before, .lamp-9::before, .lamp-11::before, .lamp-13::before, .lamp-15::before {
  animation-name: lumieres-moving-left;
  animation-duration: 2.8s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.lamp-2, .lamp-4, .lamp-6, .lamp-8, .lamp-10, .lamp-12, .lamp-14 {
  animation-name: lumieres-moving-right;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.lamp-2::before, .lamp-4::before, .lamp-6::before, .lamp-8::before, .lamp-10::before, .lamp-12::before, .lamp-14::before {
  animation-name: lumieres-moving-right;
  animation-duration: 2.8s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Keyframes */
@keyframes brush-moving {
  0% { transform: translateY(0) translateZ(0); }
  100% { transform: translateY(-100%) translateZ(0); }
}

@keyframes fading-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes lumieres-moving-right {
  0% { transform: translate(0, 0) scaleX(1) translateZ(0); opacity: 1; }
  30% { transform: translate(-20px, 0) scaleX(1.2) translateZ(0); opacity: 1; }
  60% { transform: translate(-80px, 0) scaleX(2) translateZ(0); opacity: 0.8; }
  100% { transform: translate(-150px, 0) scaleX(3.5) translateZ(0); opacity: 0; }
}

@keyframes lumieres-moving-left {
  0% { transform: translate(0, 0) scaleX(1) translateZ(0); opacity: 1; }
  30% { transform: translate(20px, 0) scaleX(1.2) translateZ(0); opacity: 1; }
  60% { transform: translate(80px, 0) scaleX(2) translateZ(0); opacity: 0.8; }
  100% { transform: translate(150px, 0) scaleX(3.5) translateZ(0); opacity: 0; }
}

@keyframes zoom-in {
  0% { transform: scale(1) translateZ(0); }
  100% { transform: scale(15) translateZ(0); }
}

@keyframes showing-lumieres {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fading-lumieres-box {
  0% { background-color: rgba(0, 119, 255, 0.5); }
  100% { background-color: rgba(0, 119, 255, 0); }
}
